/* MREC CSS  */

.bgRamadan {
  <<<<<<< HEAD background-image: url('/bg/600-x-500.jpg');
  /* Replace this with your uploaded image path */
  =======background-image: url('/bg/600-x-500.jpg');
  /* Replace this with your uploaded image path */
  >>>>>>>c6b0b81 (Added HBL) background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  <<<<<<< HEAD padding: 10px;
  /* Add padding for inner spacing */
}

.bgRamadanK {
  background-image: url('/bg/k&ns/600x500.jpg');
  /* Replace this with your uploaded image path */
  =======padding: 10px;
  /* Add padding for inner spacing */
}

.bgRamadanK {
  background-image: url('/bg/k&ns/600x500.jpg');
  /* Replace this with your uploaded image path */
  >>>>>>>c6b0b81 (Added HBL) background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  <<<<<<< HEAD padding: 5px 10px;
  /* padding-top:5px; */
  /* padding-bottom:5px; */
}

.bgRamadanG {
  background-image: url('/bg/gfs/600x500.jpg');
  /* Replace this with your uploaded image path */
  =======padding: 5px 10px;
  /* padding-top:5px; */
  /* padding-bottom:5px; */
}

.bgRamadanG {
  background-image: url('/bg/gfs/600x500.jpg');
  /* Replace this with your uploaded image path */
  >>>>>>>c6b0b81 (Added HBL) background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  <<<<<<< HEAD padding: 5px 30px;
  =======padding: 5px 30px;
  /* padding-top:5px; */
  /* padding-bottom:5px; */
}

.bgRamadanH {
  background-image: url('/bg/hbl/600x500.jpg');
  /* Replace this with your uploaded image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 10px;
  >>>>>>>c6b0b81 (Added HBL)
  /* padding-top:5px; */
  /* padding-bottom:5px; */
}

.color-invert {
  filter: invert(1);
}

.text-center {
  text-align: center;
  <<<<<<< HEAD color: white;
  /* Ensure text remains readable */
}

.text-center h5,
.text-center p {
  =======color: white;
  /* Ensure text remains readable */
}

.text-center h5,
.text-center p {
  >>>>>>>c6b0b81 (Added HBL) margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.w-75 {
  width: 75%;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.span-bg {
  <<<<<<< HEAD background: rgba(255, 255, 255, 0.8) !important;
  /* Slight transparency for a modern look */
  color: black;
  padding: 0px 08px !important;
  /* Added padding for spacing inside the boxes */
  =======background: rgba(255, 255, 255, 0.8) !important;
  /* Slight transparency for a modern look */
  color: black;
  padding: 0px 08px !important;
  /* Added padding for spacing inside the boxes */
  >>>>>>>c6b0b81 (Added HBL) border-radius: 20px;
  font-weight: bold;
  /* margin-left: 10px !important;  */
}

<<<<<<< HEAD .span-bgK {
  background: white !important;
  /* Slight transparency for a modern look */
  color: #e01f27;
  padding: 0px 08px !important;

  /* Added padding for spacing inside the boxes */
  =======.span-bgK {
    background: white !important;
    /* Slight transparency for a modern look */
    color: #e01f27;
    padding: 0px 08px !important;
    /* Added padding for spacing inside the boxes */
    >>>>>>>c6b0b81 (Added HBL) border-radius: 20px;
    font-weight: bold;
    /* margin-left: 10px !important;  */
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .w-50 {
    width: 50%;
  }

  .text-white {
    color: white;
  }

  <<<<<<< HEAD .sm-font {
    font-size: 0.6rem !important
  }

  .md-font {
    font-size: 0.7rem !important
  }

  .font-heading {
    color: rgb(2, 46, 105) !important;
    font-weight: 400;
  }

  .font-headingK {
    color: #e01f27 !important;

    =======.sm-font {
      font-size: 0.6rem !important
    }

    .md-font {
      font-size: 0.7rem !important
    }

    .font-heading {
      color: rgb(2, 46, 105) !important;
      font-weight: 400;
    }

    .font-headingK {
      color: #e01f27 !important;
      >>>>>>>c6b0b81 (Added HBL) font-weight: 400;
    }

    .sehri-iftari-label {
      <<<<<<< HEAD font-size: 0.9rem;
      /* Larger font for Sehri and Iftari labels */
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
      /* Adds spacing between label and rows */
    }

    .font-shadow {
      =======font-size: 0.9rem;
      /* Larger font for Sehri and Iftari labels */
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
      /* Adds spacing between label and rows */
    }

    .font-shadow {
      >>>>>>>c6b0b81 (Added HBL) text-shadow: 2px 3px 10px #000;
      color: #fefce6 !important;

    }

    <<<<<<< HEAD .font-shadowK {
      /* text-shadow: 2px 3px 10px #000; */
      color: white !important;

      =======.font-shadowK {
        /* text-shadow: 2px 3px 10px #000; */
        color: white !important;

      }

      .font-shadowH {
        /* text-shadow: 2px 3px 10px #000; */
        color: #009383 !important;
        >>>>>>>c6b0b81 (Added HBL)
      }

      /* global.css */
      @font-face {
        font-family: 'Lemon Milk';
        src: url('/fonts/LEMONMILK-Bold.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: 'Lemon Milk';
        src: url('/fonts/LEMONMILK-Medium.otf') format('opentype');
        font-weight: 700;
        font-style: normal;
      }

      body {
        font-family: 'Lemon Milk', sans-serif !important;
      }

      .centered-span {
        display: flex;
        align-items: center;
      }

      td {
        background: transparent !important;
        border: 0;
        margin: 3px 0px !important;
      }

      .table-cell-spacing {
        margin: 3px !important;
      }

      <<<<<<< HEAD .head-color {
        color: #ffdb9d !important;
        text-shadow: 2px 3px 10px #000;
      }

      .head-colorK {
        =======.head-color {
          color: #ffdb9d !important;
          text-shadow: 2px 3px 10px #000;
        }

        .head-colorK {
          >>>>>>>c6b0b81 (Added HBL) color: white !important;
          /* text-shadow: 2px 3px 10px #000; */
        }

        <<<<<<< HEAD .time {
          =======.time {
            >>>>>>>c6b0b81 (Added HBL) font-weight: 400;
            color: #2b2b29 !important;
          }

          <<<<<<< HEAD .timeK {
            =======.timeK {
              >>>>>>>c6b0b81 (Added HBL) font-weight: 400;
              color: #e01f27 !important;
            }

            <<<<<<< HEAD .spacing-row {
              height: 10px;
              /* Adjust the height as needed */
            }

            .p-note {
              font-size: 0.6rem;
              font-family: 'Inter';
            }

            .spinner-border {
              =======.timeH {
                font-weight: 400;
                color: #009383 !important;
              }

              .spacing-row {
                height: 10px;
                /* Adjust the height as needed */
              }

              .p-note {
                font-size: 0.6rem;
                font-family: 'Inter';
              }

              .spinner-border {
                >>>>>>>c6b0b81 (Added HBL) width: '3rem' !important;
                height: '3rem' !important;
                color: '#ffdb9d' !important;
              }

              <<<<<<< HEAD .custom-text-color {
                color: '#ffdb9d' !important;
              }

              .logo-mrec {
                width: 68%;
              }

              .logo-mrecK {
                =======.custom-text-color {
                  color: '#ffdb9d' !important;
                }

                .logo-mrec {
                  width: 68%;
                }

                .logo-mrecK {
                  >>>>>>>c6b0b81 (Added HBL) width: 35%;
                }

                /* LEADERBOARD CSS  */

                .bgRamadanLong {
                  <<<<<<< HEAD background-image: url('/bg/1456-x-180.jpg');
                  /* Replace this with your uploaded image path */
                  =======background-image: url('/bg/1456-x-180.jpg');
                  /* Replace this with your uploaded image path */
                  >>>>>>>c6b0b81 (Added HBL) background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  width: 728px;
                  height: 90px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-evenly;
                }

                .bgRamadanLBFGS {
                  <<<<<<< HEAD background-image: url('/bg/gfs/LBGFS.jpg');
                  /* Replace this with your uploaded image path */
                  =======background-image: url('/bg/gfs/LBGFS.jpg');
                  /* Replace this with your uploaded image path */
                  >>>>>>>c6b0b81 (Added HBL) background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  width: 728px;
                  height: 90px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-evenly;
                }

                <<<<<<< HEAD .city-font-longBanner {
                  font-size: 1rem !important;
                }

                .date-font-longBanner {
                  font-size: 0.6rem !important;
                }

                .col-one-longBanner {
                  /* padding-left: 3.5rem !important; */
                }

                .col-three-longBanner {
                  /* padding-right: 1rem !important; */
                }

                .sm-font-longBanner {
                  font-size: 0.7rem !important
                }

                .md-font-longBanner {
                  font-size: 0.8rem !important
                }

                .span-bg-longBanner {
                  background: rgba(255, 255, 255, 0.8) !important;
                  /* Slight transparency for a modern look */
                  color: black;
                  padding: 0px 10px !important;

                  /* Added padding for spacing inside the boxes */
                  =======.city-font-longBanner {
                    font-size: 1rem !important;
                  }

                  .date-font-longBanner {
                    font-size: 0.6rem !important;
                  }

                  .col-one-longBanner {
                    /* padding-left: 3.5rem !important; */
                  }

                  .col-three-longBanner {
                    /* padding-right: 1rem !important; */
                  }

                  .sm-font-longBanner {
                    font-size: 0.7rem !important
                  }

                  .md-font-longBanner {
                    font-size: 0.8rem !important
                  }

                  .span-bg-longBanner {
                    background: rgba(255, 255, 255, 0.8) !important;
                    /* Slight transparency for a modern look */
                    color: black;
                    padding: 0px 10px !important;
                    /* Added padding for spacing inside the boxes */
                    >>>>>>>c6b0b81 (Added HBL) border-radius: 5px;
                    font-weight: bold;
                    /* margin-left: 10px !important;  */
                  }

                  <<<<<<< HEAD .logo-leaderboard {
                    width: 60%;
                  }

                  .logo-gfs-leaderboard {
                    =======.logo-leaderboard {
                      width: 60%;
                    }

                    .logo-gfs-leaderboard {
                      >>>>>>>c6b0b81 (Added HBL) width: 25%;
                    }

                    h5.city-font-longBanner span {
                      font-size: 13px;
                    }

                    <<<<<<< HEAD
                    /* LARGE LEADERBOARD CSS  */

                    .bgRamadanLargeLeaderboard {
                      background-image: url('/bg/970-x-90-BG.jpg');
                      /* Replace this with your uploaded image path */
                      =======
                      /* LARGE LEADERBOARD CSS  */

                      .bgRamadanLargeLeaderboard {
                        background-image: url('/bg/970-x-90-BG.jpg');
                        /* Replace this with your uploaded image path */
                        >>>>>>>c6b0b81 (Added HBL) background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 970px;
                        height: 90px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                      }


                      <<<<<<< HEAD .sm-font-largeLeaderboard {
                        font-size: 1rem !important
                      }

                      .md-font-largeLeaderboard {
                        font-size: 1.2rem !important
                      }


                      .date-font-largeLeaderboard {
                        font-size: 0.7rem !important;
                      }

                      .city-font-largeLeaderboard {
                        font-size: 1rem !important;
                      }


                      .sm-font-largeLeaderboard {
                        font-size: 0.8rem !important
                      }


                      .logo-large-leaderboard {
                        =======.sm-font-largeLeaderboard {
                          font-size: 1rem !important
                        }

                        .md-font-largeLeaderboard {
                          font-size: 1.2rem !important
                        }


                        .date-font-largeLeaderboard {
                          font-size: 0.7rem !important;
                        }

                        .city-font-largeLeaderboard {
                          font-size: 1rem !important;
                        }


                        .sm-font-largeLeaderboard {
                          font-size: 0.8rem !important
                        }


                        .logo-large-leaderboard {
                          >>>>>>>c6b0b81 (Added HBL) width: 80%;
                        }

                        /* BillBoard CSS  */

                        .bgRamadanBillBoard {
                          <<<<<<< HEAD background-image: url('/bg/1940-x-500.jpg');
                          /* Replace this with your uploaded image path */
                          =======background-image: url('/bg/1940-x-500.jpg');
                          /* Replace this with your uploaded image path */
                          >>>>>>>c6b0b81 (Added HBL) background-size: cover;
                          background-position: center;
                          background-repeat: no-repeat;
                          width: 970px;
                          height: 250px;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          justify-content: space-evenly;
                        }


                        <<<<<<< HEAD .sm-font-BillBoard {
                          font-size: 1rem !important
                        }

                        .md-font-BillBoard {
                          font-size: 1.2rem !important
                        }


                        .date-font-BillBoard {
                          font-size: 1.2rem !important;
                        }

                        .city-font-BillBoard {
                          font-size: 1.7rem !important;
                        }


                        .logo-billboard {
                          width: 30%;
                        }

                        .p-note-billboard {
                          font-size: 0.7rem;
                          font-family: 'Inter';
                        }

                        .custom-gfs-margin {
                          margin-top: 4rem;

                          =======.sm-font-BillBoard {
                            font-size: 1rem !important
                          }

                          .md-font-BillBoard {
                            font-size: 1.2rem !important
                          }


                          .date-font-BillBoard {
                            font-size: 1.2rem !important;
                          }

                          .city-font-BillBoard {
                            font-size: 1.7rem !important;
                          }


                          .logo-billboard {
                            width: 30%;
                          }

                          .p-note-billboard {
                            font-size: 0.7rem;
                            font-family: 'Inter';
                          }

                          .custom-gfs-margin {
                            margin-top: 4rem;
                            >>>>>>>c6b0b81 (Added HBL)
                          }


                          @media screen and (max-width: 767px) and (min-width: 566px) {

                            <<<<<<< HEAD .padding-c5 {
                              padding: 0px 0px !important;
                            }

                            img.logo-leaderboard {
                              width: 85% !important;
                              text-align: left !important;

                              padding: 10px;
                            }
                          }


                          .padding-c5 {
                            padding: 0px 44px;
                          }

                          .w-40 {
                            width: 40%;
                          }

                          .w-20 {
                            width: 20%;
                          }

                          =======.padding-c5 {
                            padding: 0px 0px !important;
                          }

                          img.logo-leaderboard {
                            width: 85% !important;
                            text-align: left !important;

                            padding: 10px;
                          }
                        }


                        .padding-c5 {
                          padding: 0px 44px;
                        }

                        .w-40 {
                          width: 40%;
                        }

                        .w-20 {
                          width: 20%;
                        }

                        >>>>>>>c6b0b81 (Added HBL)